In [2]:
import pandas as pd

### Reading in a .csv file to pandas

In [3]:
#Reading in a csv and assigning it to a dataframe
#You can call the dataframe whatever you like. I used 'df'
df = pd.read_csv('salaries.csv')

### Print your dataframe

In [4]:
print(df)

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

### To select a specific column from your dataframe

In [5]:
#Prints just the salary column
print(df['Salary'])

0     50000
1    120000
2     80000
Name: Salary, dtype: int64

### To select multiple columns from your dataframe

In [6]:
#Prints both the 'name' and 'salary' columns
print(df[['Name', 'Salary']])

     Name  Salary
0    John   50000
1   Sally  120000
2  Alyssa   80000

### To print the minmum of a columns

In [7]:
print(df['Salary'].min())

50000

### To print out the mean of a column

In [8]:
print(df['Salary'].mean())

83333.33333333333

### To print out the max of a column

In [9]:
print(df['Salary'].max())

120000

In [10]:
print(df)

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

### How to apply conditional filtering to select certain rows from your dataframe based on criteria that you are searching for

In [13]:
#Checking my dataframe for rows with an age over 30
print(df[df['Age'] > 30])

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

### Printing off each unique value in a cerain row in your dataframe

In [15]:
print(df['Age'].unique())

[34 45 27]

### Printing off how many unique values you have in a certain row in your dataframe

In [16]:
print(df['Age'].nunique())

3

### How to print off all of the column names in your dataframe

In [17]:
print(df.columns)

Index(['Name', 'Salary', 'Age'], dtype='object')

### How to print off the info of your dataframe

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Salary  3 non-null      int64
 2   Age     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes
None

### How to print a similar statistical summary of your dataframe

In [19]:
print(df.describe())

              Salary        Age
count       3.000000   3.000000
mean    83333.333333  35.333333
std     35118.845843   9.073772
min     50000.000000  27.000000
25%     65000.000000  30.500000
50%     80000.000000  34.000000
75%    100000.000000  39.500000
max    120000.000000  45.000000

### How to print off the index from your dataframe

In [20]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)